{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# PLACEHOLDER
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
#}

{# Inside the content block is where most the stuff goes #}
{% block content %}
  <div class"container-fluid">
  <div class="text-center row pb-5">
      <h3 class="title text-web"></h3>
  </div>
  <div class="row text-center endpointsimage">
    <img class="resimage" src="{{url_for('static', filename='cross.png')}}">
  </div>
  <div class="cover-container text-center p-100 row">
    <main role="main" class="inner cover">
      <h1 class="text-web">Acces denied</h1>
      <p class="lead text-web">Access has been denied for your account.</p>
    </main>
  </div>
  <div class="container-fluid row">
  <footer class="page-footer row">
    <div class="footerc footert text-center row">2019 - Joan Grau</div>
  </footer>
  </div>
  </div>
{%- endblock %}
